<nav class="navbar navbar-expand-lg navbar-light bg-white  fixed-top">

    <div class="container-fluid">

        <a class="navbar-brand ms-5 text-dark" href="#" style="font-weight: 500; font-size: 25px;">GO<span class="text-warning">MOTO</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto ms-5 mb-2 mb-lg-0 " style="padding-left:17%;">




                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle nav-link active text-dark " href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">

                        Home

                    </a>

                    <ul class="dropdown-menu text-dark " aria-labelledby="navbarDropdown">

                        <li><a class="dropdown-item" href="#">Food delivery</a></li>

                        <li><a class="dropdown-item" href="#">Water delivery</a></li>

                        <li><a class="dropdown-item" href="#">Pizza time</a></li>

                    </ul>

                </li>
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle text-dark ms-3" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">

                        About us

                    </a>

                    <ul class="dropdown-menu text-white" aria-labelledby="navbarDropdown">

                        <li><a class="dropdown-item" href="#">Testimonials</a></li>

                        <li><a class="dropdown-item" href="#">FAQ</a></li>

                        <li><a class="dropdown-item" href="#">Gallery</a></li>

                    </ul>

                </li>

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle text-dark ms-3" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">

                        Catalog

                    </a>
                    <ul class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">

                        <li><a class="dropdown-item" href="#">Shop</a></li>

                        <li><a class="dropdown-item" href="#">Cart</a></li>

                        <li><a class="dropdown-item" href="#">Checkout</a></li>

                        <li><a class="dropdown-item" href="#">My Account</a></li>

                    </ul>

                </li>

                <li class="nav-item text-white ms-3">

                    <a class="nav-link text-dark" href="#">Contacts</a>

                </li>



            </ul>
            <form class="d-flex">

                <input class="form-control me-2 rounded-pill bg-white text-dark" type="search" placeholder="Search"
                    aria-label="Search">

                <button class=" btn btn-warning rounded-pill " type="submit" id="b1">Search</button>

            </form>

        </div>

    </div>

</nav>

<div  class="bg-white w-100" >
    <div id="divmn3">
        <div class="text-center">
            
            <h3 class="text-warning fw-800 " style="font-size: 2rem;">Quick Pick</h3>
        </div>
        <div class="text-center">
            <h3 class="text-warning fw-800 mt-5 " style="font-size: 2rem;">Quick Pick</h3>

            <h1 class="text-black fw-800" style="font-size: 4rem;">Popular Goods</h1>
        </div>
    </div>
    <div id="divmn4" style="margin-left:9rem ;">
        <div class="row   mt-5 pt-5">
            <div class="  col-sm-3" style="width: 18rem;">
                <img src="assets\images\item_01-600x600.jpg" alt="" style="width: 80%; height: 240px; " class="ms-5">
                <div>
                    <h4 class="text-center text-black mt-3">Classic Bacon Hamburger</h4>
                    <p class="mt-3 text-black" style="text-align: justify; ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis, veritatis non iusto
                        fugiat aliquid ratione enim voluptate </p>
                    <p class="text-center text-black mt-4 fs-5 fw-bold">$11.99</p>
                    <button class="btn  btn-warning rounded-pill mt-3"style="margin-left: 27%;">Add to cart</button>
                </div>
            </div>
            <div class="  col-sm-3 ms-4" style="width: 18rem;">
                <img src="assets\images\item_02-600x600.jpg" alt="" style="width: 80%; height: 240px;" class="ms-5">
                <div>
                    <h4 class="text-center text-black mt-3">Black Bacon Gamburger </h4>
                    <p class="mt-3 text-black" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis, veritatis non iusto
                        fugiat aliquid ratione enim voluptate </p>
                    <p class="text-center text-black mt-5 fs-5 fw-bold">$24.99</p>
                    <button class="btn  btn-warning rounded-pill mt-4"style="margin-left: 27%;">Add to cart</button>
                </div>
            </div>
            <div class=" col-sm-3 ms-4" style="width: 18rem;">
                <img src="assets\images\pizza_04-600x600.jpg" alt="" style="width: 80%; height: 240px;" class="ms-5">
                <div>
                    <h4 class="text-center text-black mt-3">Thin Cheese Pizza</h4>
                    <p class="mt-3 text-black" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis, veritatis non iusto
                        fugiat aliquid ratione enim voluptate </p>
                    <p class="text-center text-white mt-5 fs-5 fw-bold">$18.99</p>
                    <button class="btn  btn-warning rounded-pill mt-4"style="margin-left: 27%;">Add to cart</button>
                </div>
            </div>
            <div class=" col-sm-3 ms-4" style="width: 18rem;">
                <img src="assets\images\pizza_01-600x600.jpg" alt="" style="width: 80%; height: 240px;" class="ms-5">
                <div>
                    <h4 class="text-center text-black mt-3">Shrimp & Olive Pizza</h4>
                    <p class="mt-3 text-black" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis, veritatis non iusto
                        fugiat aliquid ratione enim voluptate </p>
                    <p class="text-center text-balck mt-5 fs-5 fw-bold">$7.49</p>
                    <button class="  btn  btn-warning rounded-pill mt-4" style="margin-left: 27%;">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id="divmn5" style="margin-left:9rem ;">
        <div class="row  mt-5 pt-5">
            <div class="  col-sm-3 ms-3 " style="width: 18rem;">
                <img src="assets\images\sushi_04-600x600.jpg" alt="" style="width: 80%; height: 240px; " class="ms-5">
                <div>
                    <h4 class="text-center text-black mt-3">Shrimp Roll</h4>
                    <p class="mt-3 text-black" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis, veritatis non iusto
                        fugiat </p>
                    <p class="text-center text-black mt-5 fs-5 fw-bold">$13.49</p>
                    <button class="btn  btn-warning rounded-pill mt-3"style="margin-left: 27%;">Add to cart</button>
                </div>
            </div>
            <div class="  col-sm-3 ms-4" style="width: 18rem;">
                <img src="assets\images\sushi_06-600x600.jpg" alt="" style="width: 80%; height: 240px;" class="ms-5">
                <div>
                    <h4 class="text-center text-black mt-3"> Roll With Tuna </h4>
                    <p class="mt-3 text-black" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis, veritatis non iusto
                        fugiat </p>
                    <p class="text-center text-black mt-5 fs-5 fw-bold">$312.49</p>
                    <button class="btn  btn-warning rounded-pill mt-3"style="margin-left: 27%;">Add to cart</button>
                </div>
            </div>
            <div class=" col-sm-3 ms-4" style="width: 18rem;">
                <img src="assets\images\meat_01-600x600.jpg" alt="" style="width: 80%; height: 240px;" class="ms-5">
                <div>
                    <h4 class="text-center text-black mt-3">Chicken Fillet With Salad</h4>
                    <p class="mt-3 text-balck" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis, veritatis non iusto
                        fugiat </p>
                    <p class="text-center text-black mt-4 fs-5 fw-bold">$18.99</p>
                    <button class="btn  btn-warning rounded-pill mt-3"style="margin-left: 27%;">Add to cart</button>
                </div>
            </div>
            <div class=" col-sm-3 ms-4" style="width: 18rem;">
                <img src="assets\images\meat_03-600x600.jpg" alt="" style="width: 80%; height: 240px;" class="ms-5">
                <div>
                    <h4 class="text-center text-black mt-3">Raw Chicken With Herbs</h4>
                    <p class="mt-3 text-black" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis, veritatis non iusto
                        fugiat  </p>
                    <p class="text-center text-black mt-4 fs-5 fw-bold">$7.49</p>
                    <button class="  btn  btn-warning rounded-pill mt-3" style="margin-left: 27%;">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
   
</div>
